.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  background-color: #1044ab;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  background-color: #1044ab;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-image{
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
}

.center-image img{
  max-width:100%;
  max-height:100%;
  position:absolute;
  top: 45%;
  left:50%;
  transform:translate(-50%,-50%);
}

.Welcome-message{
  text-align: center;
  padding: 490px 0;
  font: inherit;
  font-size: 14px;
}

.login_button{
  background-color: #7eca9eff;
  color: white;
  font-size: 13px;
  padding: 6px 50px;
  cursor: pointer;
  position:absolute;
  top: 56%;
  left:46%;
  border: none;
  outline: none !important;;
  border-radius: 4px;
}

.signup_button{
  background-color: #7eca9eff;
  color: white;
  font-size: 13px;
  padding: 6px 43px;
  cursor: pointer;
  position:absolute;
  top: 60%;
  left:46%;
  border: none;
  outline: none !important;;
  border-radius: 4px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
